*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1
{
    padding-bottom: 5px;
}

p
{
    padding-left: 80px;
}

button
{
    padding: 10px;
    margin: 10px;
    margin-left: 90px;
    cursor: pointer;
}



